@import "variables";


.UI {
  position: absolute;
  left: 0;
  top: 0;
  width: 240px;
  box-sizing: border-box;
  color: #fff;
  z-index: 1;
}

.Stats {
  padding: $gap;
}

.Controls {
  padding: $gap;
  text-align: center;
}