@import "variables";

html, body {
  position: relative;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: $font-size;

  overflow-x: hidden;
  overflow-y: hidden;

  color: $text-color;
  background: $bg-color;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}